# Ignorar todo por defecto
/*

# Mantener el propio .gitignore
!/.gitignore

# Mantener archivos base del paquete
!/package.json
!/README.md
!/.npmignore

# Mantener utilidades compartidas
!/src/
/src/*
!/src/utils/
!/src/utils/**
